# requirements.txt
pyyaml
numpy
eccodes
gridpp
titanlib
pyproj
f90nml
toml
json; python_version < '3'
netCDF4
cfunits
requests
#
# installs dependencies from ./setup.py, and the package itself,
# in editable mode
-e .

# This is an implicit value, here for clarity
--index-url https://pypi.python.org/simple/

